body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	box-sizing: border-box;
	background-color: #ecf1f1;
}
/* Estilos barra lateral izquierda cabecera */

aside {
	min-width: 300px;
	width: 20%;
	height: 100vh;
	padding: 20px;
	padding-bottom: 0;
	background-color: #222629;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
}

#nombre-aside h1{
	margin-bottom: 0;
	margin-top: 16px;
}

#nombre-aside p {
	margin-top: 5px;
	margin-bottom: 16px;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header span .foto-perfil {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

/* Estilos secciones barra lateral izquierda */

aside nav ul{
	list-style: none;
}

aside nav ul li {
	margin: 20px 0px;
}

aside nav ul li a {
	text-decoration: none;
	color: white;
	display: flex;
	justify-content: space-between;
}

.fa-house-chimney, .fa-pencil, .fa-bookmark, .fa-person-shelter, .fa-envelope {
	font-size: 20px;
}

/* Estilos de los iconos redes sociales barra lateral izquierda */


.redes-sociales ul {
	list-style: none;
	display: flex;
	justify-content: center;
	padding-left: 0;
}

.redes-sociales ul a {
	text-decoration: none;
}

.redes-sociales ul li {
	margin-right: 10px;
}

.fa-github, .fa-linkedin {
	font-size: 30px;
	color: white;
}

.bottom {
	padding-bottom: 10px;
}

/* Estilos de la barra lateral derecha main */

main {
	/* margin-left: 30%; */
	margin: 0 0 0 350px;
	padding: 20px;
	padding-bottom: 0;
	width: 80%;
}

/* Estilos secciones */

#sobre-mi, #habilidades, #proyectos, #contacto, #reflexion, footer {
	text-align: center;
}

#sobre-mi img {
	width: 100%;
	max-width: 350px;
	height: auto;
	border-radius: 20px;
}

#sobre-mi p, #proyectos p {
	padding: 10px 20px;
}

#proyectos img {
	width: 100%;
	max-width: 350px;
	height: auto;
	border-radius: 20px;
}

#contacto ul {
	list-style: none;
}

#contacto ul li a {
	text-decoration: none;
}